{% extends 'shop/basic.html' %}

{% block title%} About Us | {% endblock %}
{% block body %}


<svg class="bi ms-auto d-none" aria-hidden="true">
    <use href="#check2"></use>
</svg>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-12 col-md-8 mx-auto">
                <h1 class="fw-light">History</h1>
                <p class="lead text-body-secondary">LocalMart Inc. is an Indian e-commerce company, headquartered in Indore, and incorporated in Bangalore as a private limited company. The company initially focused on Local-Culture sales before expanding into other product categories such as consumer electronics, fashion, home bravia bedsheets essentials, groceries, and lifestyle products. In 2025, the company shifted domicile from Bangalore to Indore.
                    The service competes primarily with Amazon India and domestic rival Snapdeal. As of FY23, LocalMart held a 3% market share in the Indian e-commerce industry.LocalMart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.</p>
                <p> <a href="#" class="btn btn-primary my-2">Login</a> <a href="#" class="btn btn-secondary my-2">Sign Up</a> </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col"> <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body"> <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center"> <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div> <small class="text-body-secondary">9 mins</small> </div> </div> </div> </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" <img > </rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg> <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1"> <a href="/">Back to top</a></p>
        <p class="mb-1">This is the short note about our site.</p>
        <p class="mb-0">Are You Ready For Shopping <a href="/shop">Visit the Homepage</a> or Know more about us <a href="/shop/about"> Click </a>.</p>
    </div>
</footer>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" class="astro-vvvwv3sm"></script>

{% endblock %}




<!--    <div class="collapse text-bg-dark" id="navbarHeader">-->
<!--        <div class="container"> <div class="row">-->
<!--            <div class="col-sm-8 col-md-7 py-4">-->
<!--                <h4>About</h4>-->
<!--                <p class="text-body-secondary">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>-->
<!--            </div>-->
<!--            <div class="col-sm-4 offset-md-1 py-4">-->
<!--                <h4>Contact</h4>-->
<!--                <ul class="list-unstyled">-->
<!--                    <li><a href="https://www.facebook.com" class="text-white">Like on Facebook</a></li>-->
<!--                    <li><a href="guptadeepak06418@gmail.com" class="text-white">Email me</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->